#Informacion_Basica {
    background: #E56AED;
}
#Nacionalidad {
    background: #60E9E6
}
#Estudios {
    background: #82E960;
}
#Idiomas {
    background: #F011CA;
}
#Botones {
    background: #09EB30;
}
h1 {
    color: #33CB00;
    text-align: center;
}